<!DOCTYPE html>
<html>
  <head>
    <title>Know Yo City</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
  <ul id="navbar">
    <li id='logo'><a href="#"><span id="title-intro">how well do you</span> K<span class='title-small-letters'>NOW</span> Y<span class='title-small-letters'>O</span> C<span class='title-small-letters'>ITY</span>?</a></li>
    <li><a href="#">LOGIN</a></li>
    <li><a href="#leaderboard">LEADERBOARD</a></li>
    <li><a href="#">PLAY</a></li>
  </ul>

    <%= yield %>
    
  </body>
</html>
